.container{
    
    
    padding: 40px 40px 20px;
    background: rgb(172, 216, 11);
    border-radius: 30px;
    
}
.card{
    
    padding: 40px 40px 20px;
    background: rgb(84, 186, 218);
    border-radius: 30px;
}
.h1{
   text-align: center;
   text-decoration: darkorange;
}